@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kotler Propiedades</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Kotler Propiedades</h2>
        <p>
            Herramienta de administración de clientes
        </p>
    </div>
    <div class="col-md-4">
        <h2>Inquilinos</h2>
        <p><a class="btn btn-default" href="/Locadores">Inquilinos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Locadores</h2>
        <p><a class="btn btn-default" href="/Locadores">Locadores &raquo;</a></p>
    </div>
</div>